arrow==0.15.6
chardet==2.3.0
Jinja2==2.11.3
jinja2-time==0.2.0
language-selector==0.1
MarkupSafe==1.1.1
pycurl==7.43.0
pygobject==3.20.0
PyMySQL==0.9.3
python-apt==1.1.0b1+ubuntu0.16.4.8
python-dateutil==2.8.1
requests==2.31.0
six==1.10.0
ssh-import-id==5.5
tornado==6.0.3
tornado-jinja2==0.2.4
unattended-upgrades==0.1
urllib3==1.26.5
